<h2>Posts</h2>

<ul>
  <% if @posts != [] %>
    <% @posts.each do |post| %>
      <li>
        <%= post.title %><br>
        <strong>By: </strong>
        <%= post.user %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>