<h1>Respuestas</h1>

<a href="/answers/new">Crear nueva respuesta</a>

<ol>
  <% @answers.each do |answer| %>
    <li>
      <strong>Mensaje: </strong>
      <%= answer.message %>

      <% if not answer.score == nil %>
        | <strong>Calificacion: </strong>
        <%= answer.score %>
      <% end %>
      <br>
      <strong>Tarea: </strong>
      <%= answer.homework.statement %><br>

      <%= link_to "Ver", answer_path(answer), :class => "crud_button" %>
    </li>
  <% end %>
</ol>

<a href="/" class="link_button">Ir a home</a>