<div class="form_container">
  <h1>
    <%= @answer.message %>
  </h1>

  <% if @answer.score != nil %>
    <div>
      <strong>Calificacion: </strong>
      <%= @answer.score %>
    </div>
  <% else %>
    <p>No se ha calificado</p>
  <% end %>

  <div>
    <strong>Estudiante: </strong>
    <%= @answer.student %>
  </div>
</div>

<a href="/answers/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>