<h1>
  <%= @answer.message %>
</h1>

<p>
  <strong>Calificacion: </strong>
  <%= @answer.score %>
</p>

<p>
  <strong>Estudiante: </strong>
  <%= @answer.student %>
</p>

<a href="/answers/"><h3>Atras</h3></a>

<a href="/"><h3>Ir a home</h3></a>