<h2>Usuario</h2>

<strong>Yo soy: </strong>
<%= params[:name] %> <%= params[:last_name] %><br>

<strong>Y mi correo electronico es: </strong>
<%= params[:email] %><br>

<%= link_to "Atras", root_path %>