<h1>
  <%= @apartment.name %>
</h1>

<p>
  Torre: 
  <%= Tower.find(@apartment.tower_id).name %>
</p>

<p>
  Piso: 
  <%= @apartment.floor %>
</p>

<h2>Habitantes</h2>

<ul>
  <% Person.all.each do |person| %>
    <% if Apartment.find(person.apartment_id) == @apartment %>
      <li>
        <%= "#{person.name} (Indetificacion: #{person.identification})" %>
      </li>
    <% end %>
  <% end %>
</ul>

<a href="/"><h2>Ir a home</h2></a>

<a href="/apartments/"><h2>Atras</h2></a>