<h1>
  <%= @apartment.name %>
</h1>

<p>
  Torre: 
  <%= @apartment.tower.name %>
</p>

<p>
  Piso: 
  <%= @apartment.floor %>
</p>

<a href="/"><h2>Ir a home</h2></a>

<a href="/apartments/"><h2>Atras</h2></a>