<h1>Perfil estudiante</h1>

<p>
  <strong>Nombre: </strong>
  <%= @student.name %>
</p>
<p>
  <strong>Apellido: </strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Identificacion: </strong>
  <%= @student.identification %>
</p>

<p>
  <strong>Email: </strong>
  <%= @student.email %>
</p>

<a href="/answers/new/"><h3>Escribir nueva respusta</h3></a>

<a href="/"><h3>Ir a home</h3></a>
<a href="/students/"><h3>Atras</h3></a>