<div class="form_container">
  <h1>Tarea</h1>

  <div>
    <strong>Enunciado: </strong>
    <%= @homework.statement %>
  </div>

  <div>
    <strong>Fecha final: </strong>
    <%= @homework.final_date %>
  </div>

  <% if @homework.subject %>
    <div>
      <strong>Asignatura: </strong>
      <%= @homework.subject.name %>
    </div>
  <%end%>

  <% if @homework.teacher %>
    <div>
      <strong>Profesor: </strong>
      <%= @homework.teacher.name %>
    </div>
  <%end%>
</div>

<a href="/homeworks/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>