body {
	font-size: 16px;
	margin: 0;
}

div {
	margin: 0px 14 0px 14px;
}

input {
	margin-top: 5px;
}

ul, ol {
	background-color: #E0E0E0;
	/*padding: 20px 0 20px 10px; */
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
	overflow: hidden;
}

li {
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	&visited {
		color: black;
	}
}

a.link_button {
	background-color: #64D78C;
	color: black;
	display: block;
	margin: 2px 0 2px 0;
	padding: 8px 10px 8px 10px;
	width: 100%;
}
a.link_button:hover {
	background-color: #27A452;
	color: white;
}

a.crud_button {
	background-color: #64D78C;
	border-radius: 3px;
	color: black;
	font-size: 13px;
	padding: 4px 4px 4px 4px;
	margin: 5px 3px 5px 3px;
}

div.form_container {
	padding-left: 12px;
	padding-right: 12px;
}

a.crud_button:hover {
	color: white;
	background-color: #27A452;
}

div.search_container {
	background-color: #E0E0E0;
	padding: 10px 5px 10px 5px;
	margin: 0;
}

.sublist {
	padding-top: 5px;
	padding-bottom: 8px; 
}

.sublist li {
	margin: 0;
}

#homework_statement, #answer_message {
	vertical-align: top;
	width: 400px;
	height: 100px;
}